@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

header .filter {
  background: #000;
}

header .filter .filter-img {
  display: block;
  opacity: 0.6;
}

header .filter .top-img {
  object-fit: cover;
  width: 100%;
}

header h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

main {
  font-size: 16px;
  margin: 0 16px;
}

h2 {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

h2 ::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

.route {
  width: 100%;
}

.route img {
  width: 100%;
}

.schedule {
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table tr {
  border-bottom: 1px solid gray;
}

table tr td,
table tr th {
  padding: 10px;
}

table tr th {
  text-align: center;
  width: 20%;
}

table tr td {
  padding-left: 30px;
}

.timeline-wrap {
  margin: 0 auto 2rem;
}

.timeline-wrap .timeline {
  padding: 0 20px;
  list-style: none;
}

.timeline-wrap .timeline .timeline-item {
  position: relative;
  padding: 0 0 4em 0 !important;
  margin-bottom: 0 !important;
}

.timeline-wrap .timeline .timeline-item:before {
  content: "";
  width: 3px;
  background: #eee !important;
  display: block;
  position: absolute;
  top: 23px;
  bottom: -3px;
  left: 58px;
}

.timeline-wrap .timeline .timeline-item .timeline-time {
  padding: 3px 30px 0 2px;
  float: left;
}

.timeline-wrap .timeline .timeline-item .timeline-label {
  padding: 3px 0 0 2px;
  font-weight: 500;
}

.timeline-wrap .timeline .timeline-item .timeline-label .timeline-comment {
  margin-top: 5px;
  font-size: 14px;
  position: absolute;
  border: solid 2px #00bfff;
  border-radius: 5px;
  padding: 5px 10px;
  left: 80px;
}

.timeline-wrap .timeline .timeline-item .timeline-marker {
  display: block;
  position: absolute;
  content: "";
  top: 3px;
  left: 50px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 3px #00bfff;
}

.belongings ul {
  list-style: none;
}

.belongings ul li {
  margin-bottom: 10px;
}

.belongings ul li:before {
  content: "";
  /* 空の要素作成 */
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #00bfff;
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  height: 50px;
}
